</div>
</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by Vraj Mistry</p>
  <a href="/about">ABOUT US</a>
  <a href="/contact">CONTACT US</a>
</div>
</div>

</body>

</html>
