
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Vraj Mistry</p>
    <a href="/about">ABOUT US</a>
    <a href="/contact">CONTACT US</a>
    <!-- <ul class="nav navbar-nav navbar-right mb-2 mb-lg-0">
      <li id="about" class="nav-item"><a class="nav-link" href="/about">ABOUT US</a></li>
      <li id="contact" class="nav-item"><a class="nav-link" href="/contact">CONTACT US</a></li>
    </ul> -->
  </div>
</div>
</body>
</html>
